<% content_for :top_user_bar do %>
  <div id="top-bar-buttons">
    Don't have an account? <%= link_to "Sign Up!", sign_up_path %>
  </div>
<% end %>

<h1>Log in</h1>

<%= form_tag log_in_path do %>
  <div class="field">
    <%= text_field_tag :email, params[:email], placeholder: "username or email" %>
  </div>
  <div class="field">
    <%= password_field_tag :password,  "", placeholder: "password" %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>