<% content_for :top_user_bar do %>
    Don't have an account? <%= link_to "Sign Up!", sign_up_path %>
<% end %>

<h1>Log in</h1>

<%= form_tag log_in_path, class: "login" do %>
  <div class="field">
    <%= text_field_tag :email, params[:email], placeholder: "username or email", autofocus: "", required: "" %>
  </div>
  <div class="field">
    <%= password_field_tag :password,  "", placeholder: "password", required: ""%>
  </div>
  <div class="actions"><%= submit_tag "Log in" %>
  <p class="login-form-text">Psst! you may want to <%= link_to "Sign up", sign_up_path%></p></div>
  
<% end %>