<p id="notice"><%= notice %></p>

<p>
  <strong>My Watchlist, Movies & Series</strong>
</p>


<div class="my_movies_stand">
		<div class="index_shows_panel">
		<% if @user.watchlist.shows.any? %>
		    <% @user.watchlist.shows.reverse.each do |show| %>


		        <div class="index_shows_item">
		           <%if @user.watchlist.serials.include?(show) %>
			           <%=link_to image_tag("http://placehold.it/170x273&text=#{show.name}"), my_tracking_path(show) %>
			            <p><%= link_to "#{show.name}", my_tracking_path(show) %></p>

		            <%else%>
			            <%=link_to image_tag("http://placehold.it/170x273&text=#{show.name}"), movie_path(show) %>
			            <p><%= link_to "#{show.name}", movie_path(show) %></p>
		          <%end%>

		        </div>

		      
		    <% end %>
		<% else %>
	    <p class="center-warning"><%= if is_himself?(@user); "Woah, you don't have any movies added, why not #{link_to 'browsing', movies_path }?".html_safe else "#{@user.username} hasn't added any movies yet." end%></p>
	  	<% end %>
	</div>
</div>
