<p id="notice"><%= notice %></p>

<p>
  <strong>Watched Shows</strong>
</p>

<% @watched.episodes.each do |e|%>
<%= e.name %>
<%end%>

<% @seasons.each do |e|%>
<%= e.series_id %>
<%end%>

<% @series.each do |e|%>
<%= e.name %>
<%end%>

<% @watching.each do |e|%>
<%= e.name %>
<%end%>


<div class="my_series_stand">
	<%= link_to "View all the series that I'm watching", my_watching_series_path(@user), class: "all-series-link" %>
	<h2>Series that I'm Watching</h2>
		<div class="index_shows_panel">
		<% if @watching.any? %>
		    <% @watching.reverse.each do |show| %>


		        <div class="index_shows_item">
			           <%=link_to image_tag("http://placehold.it/170x273&text=#{show.name}"), serial_path(show) %>
			            <p><%= link_to "#{show.name}", serial_path(show) %></p>

		        </div>

		      
		    <% end %>
		<% else %>
	    <p class="center-warning"><%= if is_himself?(@user); "Woah, you finish all your series, why not #{link_to 'browsing', serials_path }?".html_safe else "#{@user.username} isn't watching any series yet." end%></p>
	  	<% end %>
	</div>
</div>


<br>


<div class="my_series_stand">
	<%= link_to "View all my seen series", my_seen_series_path(@user), class: "all-series-link" %>
	<h2>Series Already Seen</h2>
		<div class="index_shows_panel">
		<% if @series.any? %>
		    <% @series.reverse.each do |show| %>


		        <div class="index_shows_item">
			           <%=link_to image_tag("http://placehold.it/170x273&text=#{show.name}"), serial_path(show) %>
			            <p><%= link_to "#{show.name}", serial_path(show) %></p>

		        </div>

		      
		    <% end %>
		<% else %>
	    <p class="center-warning"><%= if is_himself?(@user); "Woah, you don't have any series added, why not #{link_to 'browsing', serials_path }?".html_safe else "#{@user.username} hasn't watched any series yet." end%></p>
	  	<% end %>
	</div>
</div>

<br>


<div class="my_movies_stand">
	<%= link_to "View all my seen movies", my_seen_movies_path(@user), class: "all-series-link" %>
	<h2>Movies Already Seen</h2>
		<div class="index_shows_panel">
		<% if @watched.movies.any? %>
		    <% @watched.movies.reverse.each do |show| %>


		        <div class="index_shows_item">

			            <%=link_to image_tag("http://placehold.it/170x273&text=#{show.name}"), movie_path(show) %>
			            <p><%= link_to "#{show.name}", movie_path(show) %></p>

		        </div>

		      
		    <% end %>
		<% else %>
	    <p class="center-warning"><%= if is_himself?(@user); "Woah, you don't have any movies added, why not #{link_to 'browsing', movies_path }?".html_safe else "#{@user.username} hasn't added any movies yet." end%></p>
	  	<% end %>
	</div>
</div>
