<% content_for :admin_bar_panel do %>
  <ul>

  </ul>
<% end %>

<div class="show-sidebar">
	<div class="show-action-menu">
		<ul>
			<li><%= add_remove_link(@serial) %></li>
			<li><%= watch_unwatch_link(@serial) %></li>
	</div>

	<img src="<%=@serial.poster%>">

	<div class="show-detail-module show-details">
		<h3>Serial Details</h3>
		<ul>
			<li>Date: <%= @serial.date.to_date().to_s(:long) %></li>
			<li>Genre: <%= @serial.genre %></li>
		</ul>
	</div>

	<div class="show-detail-module show-seasons">
		<h3><%= link_to "Seasons »", serial_seasons_path(@serial) %></h3>
		<% if @serial.seasons.empty? %>
		<p>We're sorry, we don't have any season yet</p>
		<% else %>
			<ul>
				<% @serial.seasons.each do |s| %>
				<li><%= link_to "Season #{s.number}", serial_season_path(@serial,s) %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>

<div class="show-content">
	<div class="show-header">
		<div class="show-header-title">
			<h1>Tracking <%= @serial.name %></h1>
		</div>

		<p class="description"><%= @serial.description %></p>
	</div>

    <%if @series.include?(@serial)%>
    	<p class="center-warning">You have finished this series! Well done!</p>
    <%end%>

	<div class="show-list show-season-list">
    <h2>Seasons</h2>

    <% if @serial.seasons.empty? %>
      <p class="center-warning">Oops, we didn't find any seasons!</p>

    <% else %>
      <% @serial.seasons.all.each do |season| %>
        <div class="show-season-list-item">
          <div class="number"><%= link_to season.number, my_tracking_detail_path(@serial,season) %></div>

          <% ep = @watched.next_episode(@watched,season)
          episode = @watched.get_episode
          episodes = @watched.get_episodes
          %>

          <%= tracking_details_season(ep,episode, episodes,season) %>

          <div class="episodes-number">
            
            <p><%= (season.episodes.size-episodes) %>/<%=season.episodes.size%></p>
            <small>Episodes left</small>
          </div>
          <div class="item-action">
            Action
          </div>
        </div>
      <%end%>
    <% end %>

  </div>
	
</div>






