<% content_for :admin_bar_panel do %>
    <ul>
        <li><%= link_to 'Edit Movie', edit_movie_path(@movie) %></li>
    </ul>
<% end %>

<div class="show-sidebar">
  <div class="show-action-menu">
      <%= render 'action_menu' %>
  </div>

  <img src="http://placehold.it/216x319&text=<%= @movie.name%>" />

  <div class="show-detail-module show-details">
    <h3>Movie Details</h3>

    <ul>
        <li>Date: <%= @movie.date %></li>
        <li>Genre: <%= @movie.genre %></li>
        <li>Director: <%= @movie.director %></li>
        <li>Duration: <%= @movie.duration %> min.</li>
    </ul>
  </div>
  
</div>

<div class="show-content">
  <div class="show-header">
    <div class="show-header-title">
        <h1><%= @movie.name %></h1>
    </div>

    <p class="description"><%= @movie.description %></p>
  </div>

  <div class="show-users-content">
    <%= render "layouts/user_content" %>
  </div>
</div>
