<div class="show-action-menu">
  <%= render 'action_menu' %>
</div>

<img src="<%= @serial.poster%>">

<div class="show-detail-module show-details">
  <h3>Episode Details</h3>

  <ul>
      <li>Date: <%= @episode.date.to_date().to_s(:long) %></li>
      <li>Writer: <%= @episode.write %></li>
      <li>Director: <%= @episode.director %></li>
      <li>Duration: <%= @episode.duration %> min.</li>
  </ul>

</div>

<% if current_user %>
<div class="show-detail-module show-tags">
  <h3>Your Tags</h3>

  <%= render 'tag_form' %>

  <% if @episode.user_user_tags(current_user).any? %>
      <%= render 'user_tag_list' %>
  <% else %>
      <p> This episode hasn't been tagged </p>
  <% end %>
</div>
<% end %>

<div class="show-detail-module show-tags">
  <h3>Tags</h3>
  <%= if @episode.tags.any? 
      tag_ul_list(@episode.tags_list) 
    else 
      content_tag(:p, "This episode hasn't been tagged")
      end%>
</div>