
<% content_for :admin_bar_panel do %>
    <ul>
        <li><%= link_to 'Edit Episode', edit_serial_season_episode_path(@serial,@season,@episode) %></li>
    </ul>
<% end %>

<div class="show-sidebar">
  <div class="show-action-menu">
    <ul>
          <li><%= seen_unseen_episode_link(@episode) %></li>
      </ul>
  </div>

  <img src="http://placehold.it/216x319&text=<%= @serial.name+ '- Season: '+@season.number.to_s+'- Episode: '+@episode.number.to_s %>" />

  <div class="show-detail-module show-details">
    <h3>Episode Details</h3>

    <ul>
        <li>Date: <%= @episode.date %></li>
        <li>Writer: <%= @episode.write %></li>
        <li>Director: <%= @episode.director %></li>
        <li>Duration: <%= @episode.duration %> min.</li>
    </ul>

  </div>

  <% if current_user %>
  <div class="show-detail-module show-tags">
    <h3>Your Tags</h3>

    <%= render 'tag_form' %>

    <% if @episode.user_user_tags(current_user).any? %>
        <%= render 'user_tag_list' %>
    <% else %>
        <p> This episode hasn't been tagged </p>
    <% end %>
  </div>
  <% end %>

  <div class="show-detail-module show-tags">
    <h3>Tags</h3>
    <%= if @episode.tags.any? 
        tag_ul_list(@episode.tags_list) 
      else 
        content_tag(:p, "This episode hasn't been tagged")
        end%>
  </div>

</div>

<div class="show-content">
  <div class="show-header">
    <div class="show-header-title">
      <p class="bread-crumb"><%= link_to @serial.name, serial_path(@serial) %> - <%= link_to "Season #{@season.number}",serial_season_path(@serial,@season) %></p>
        <h1><%= "S"+( "%02d" % @season.number)+"E"+("%02d") % @episode.number%> - <%= @episode.name %></h1>
        <%= link_to "View all episodes", serial_season_episodes_path(@serial,@season), class: "all-episodes-link" %>
    </div>

    <p class="description"><%= @episode.description %></p>
  </div>

  <div class="show-users-content">
    <h2>Reviews</h2>
    <%= render "reviews/index" %>
  </div>
</div>
