<%= form_for(Search.new, url: {controller: "searches",  action: "create"}) do |f| %>

  <!--<div class="field">
    <%= f.label :keywords %><br>-->
    <%= f.text_field :keywords, placeholder: "search movies, series, etc...", required: "" %>
 <!-- </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_field :info %>
  </div>-->
    <%= f.submit "Search", class:"no-display" %>
<% end %>
