<p id="notice"><%= notice %></p>

<h1>
  <strong>Keywords searched:</strong>
  <%= @search.keywords %>
</h1>


<div class="my_movies_stand">
   
    <% if @search.shows.any? or @search.tagging.any? or @search.details.any? %>
        
        <%if @search.details.count==0%>
       <h2>Movies & Series related</h2>

        <%end%>
    <div id="shows">
       <div class="index_shows_panel">
        <%@search.shows.each do |show| %>


            <div class="index_shows_item">
               <%if Serial.where(:id => show.id) %>
                 <%=link_to image_tag("#{show.poster}"), serial_path(show) %>
                  <p><%= link_to "#{show.name}", serial_path(show) %></p>

                <%else%>
                  <%=link_to image_tag("#{show.poster}"), movie_path(show) %>
                  <p><%= link_to "#{show.name}", movie_path(show) %></p>
              <%end%>

            </div>

          
        <% end %>
      </div>
    </div>

      <div id="genre">
      <div class="index_shows_panel">
        <%unless @search.details.count==0%>
        <h2>Genre related</h2>
        <%end%>
        <%@search.details.each do |show| %>


            <div class="index_shows_item">
               <%if Serial.where(:id => show.id) %>
                 <%=link_to image_tag("#{show.poster}"), serial_path(show) %>
                  <p><%= link_to "#{show.name}", serial_path(show) %></p>

                <%else%>
                  <%=link_to image_tag("#{show.poster}"), movie_path(show) %>
                  <p><%= link_to "#{show.name}", movie_path(show) %></p>
              <%end%>

            </div>

          
        <% end %>
      </div>
    </div>

        <div id="episodes">
          <div class="index_shows_panel">
          <%unless @search.tagging.count==0%>
          <h2>Episodes and tags related</h2>
          <%end%>
        <%@search.tagging.each do |show| %>


            <div class="index_shows_item">
               <% season = @search.find_season(show.season_id) %>
               <% serial = @search.find_series(season.serial_id) %>

                 <%=link_to image_tag("#{serial.poster}"), serial_season_episode_path(serial,season,show) %>
                  <p><%= link_to "#{serial.name}, "+"S"+( "%02d" % season.number)+"E"+("%02d" % show.number)+": #{show.name}", serial_season_episode_path(serial,season,show) %></p>

            </div>

        <% end %>

                <%@search.episodes.each do |show| %>


            <div class="index_shows_item">
               <% season = @search.find_season(show.season_id) %>
               <% serial = @search.find_series(season.serial_id) %>

                 <%=link_to image_tag("#{serial.poster}"), serial_season_episode_path(serial,season,show) %>
                  <p><%= link_to "#{serial.name}, "+"S"+( "%02d" % season.number)+"E"+("%02d" % show.number)+": #{show.name}", serial_season_episode_path(serial,season,show) %></p>

            </div>

        <% end %>

      </div>
    </div>

    <% else %>
      <p class="center-warning">Woah, there's nothing like that here, sorry =C.</p>
      <% end %>
 
</div>



