<h1> Search Results for <em><%= @search.to_param.split("+").join(" ") %></em></h1>

<% if @search.results.any? %>
  
  <div class="results all-results">
    <h2>All Matches</h2>
    <% @search.results.each do |result| %>
      <%= result.name %>
    <% end %>
  </div>

  <% if @search.movies_by_name.any? %>
    <div class="results movies-results">
      <h2>Movies by name</h2>
      <% @search.movies_by_name.each do |result| %>
        <%= result.name %>
      <% end %>
    </div>
  <% end %>

  <% if @search.serials_by_name.any? %>
    <div class="results serial-results">
      <h2>Series by name</h2>
      <% @search.serials_by_name.each do |result| %>
        <%= result.name %>
      <% end %>
   </div>
  <% end %>

    <% if @search.episodes_by_name.any? %>
    <div class="results episodes-results">
      <h2>Episodes by name</h2>
      <% @search.episodes_by_name.each do |result| %>
        <%= result.name %>
      <% end %>
   </div>
  <% end %> 

  <% if @search.shows_by_genre.any? %>
    <div class="results genre-results">
      <h2>Shows by genre</h2>
      <% @search.shows_by_genre.each do |result| %>
        <%= result.name %>
      <% end %>
   </div>
  <% end %> 


<% else %>
  
  <p class="center-warning">Woah, there's nothing like that here, sorry =C.</p>

<% end %> 