
<% if current_user %>
  <%= form_for((@array_parent.dup).push(Post.new),html: { multipart: true }, remote: true) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="post-form">
      <div class="post-form-user">
        <%= user_gravatar(current_user,90) %>

        <span class="post-form-username"><%= current_user.username %></span>
      </div>

      <div class="post-form-content">

        <div class="post-form-type-option">
          <input type="radio" name="post[post_type]" value="image" id="image-option" required>
          <input type="radio" name="post[post_type]" value="link" id="link-option" required>

          <label for="image-option">Post an image</label>
          <label for="link-option">Post a link</label>
        </div>

        <div class="post-form-image post-form-type">
          <div class="post-form-image-button">
            <span>Select File...</span>
            <%= f.file_field :photo, {accept: 'image/png,image/gif,image/jpeg', id: "post-form-file-input", required: ""} %>
          </div>
          <span class="post-form-image-filename">You have not selected any image.
          </span>
        </div>
        <div class="post-form-link post-form-type">
          <%= f.url_field :url, { placeholder: "http://example.org/", id: "post-form-link-url"} %>
          <%= f.text_field :url_title, {placeholder: "Title of this link", id: "post-form-link-url-title"} %>
        </div>

        <%= f.text_area :content, {required: "", placeholder: "Caption", id: "post-caption"}  %>
      </div>

      

      <div class="post-form-submit">
        <%= f.submit "Create Post", data: { disable_with: "Creating..." } %> or <%= link_to 'Cancel', nil, class: "close-post-form" %>
      </div>
    </div>
  <% end %>
<% end %>
