<%= stylesheet_link_tag 'widgEditor' %>
<%= javascript_include_tag 'widgEditor' %>

<% if current_user %>
  <%= form_for((@array_parent.dup).push(Post.new),:html => { :multipart => true }) do |f| %>
    <div class="post-form">
      <div class="post-form-user">
        <%= user_gravatar(current_user,90) %>

        <span class="post-form-username"><%= current_user.username %></span>
      </div>

      <div class="post-form-content">
        
        <%= f.text_area :content, {required: "", class: "widgEditor"}  %>
      </div>

      <%= f.file_field :photo %>

      <div class="post-form-submit">
        <%= f.submit "Create Review", data: { disable_with: "Creating..." } %> or <%= link_to 'Cancel', nil, class: "close-post-form" %>
      </div>
    </div>
  <% end %>
<% end %>
