<div class="form-container-post">
<%= render "posts/post_form"%>
</div>


<% if @posts.empty? %>
  <% no_rev_msg = (current_user)? "No posts yet, #{link_to 'write the first one', nil, class:'open-post-form'}!" : "No posts yet, #{link_to 'Sign up', sign_up_path } or #{link_to 'log in', log_in_path } to leave the first!";%>

  <p class="center-warning"><%= no_rev_msg.html_safe %></p>
<% else %>
  <% if current_user and !contains_user(@posts,current_user) %>
    <a href="#" class="open-post-form fade-open-post">Write a post</a>
  <% end %>


  <div id="posts">
  <% @posts.reverse.each do |post| %>
    <div class="post">
      <div class="post-user">
        <a href="<%= user_path(post.user) %>">
          <%= user_gravatar(post.user, 80) %>
        </a>
      </div>
      <div class="post-content">
        <a href="<%= user_path(post.user) %>">
        <span class="post-username"><%= post.user.username %></span>
      </a>
      <% if @post.photo? %>
      <%= image_tag @post.photo.url(:small) %>
      <% end %>
        <div class="post-text">
          <%= simple_format(post.content) %>
        </div>
      </div>

      <div class="post-meta">
          <div class="post-boost">
          <span>Boost! </span>
        </div>
        <span> | Posted <%= time_ago_in_words(post.created_at) %> ago</span><% if user_admin?(current_user) || post.user == current_user %> | <%= link_to 'Delete', polymorphic_path(@parent)+"/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' } %> <% end %>

      </div>
    </div>
  <% end %>

  <% unless current_user %>
    <p class="center-warning"><%= link_to 'Sign up', sign_up_path %> or <%= link_to 'log in', log_in_path %> to write a post</p>
  <% end %> 

  </div>
<% end %>