<div class="post" id="post-<%= post.id %>">
      <div class="post-user">
        <a href="<%= user_path(post.user) %>">
          <%= user_gravatar(post.user, 80) %>
        </a>
      </div>
      <div class="post-content">
        <a href="<%= user_path(post.user) %>">
        <span class="post-username"><%= post.user.username %></span>
      </a>
      <br>
      <% if post.photo.url %>
       <%= link_to  (image_tag post.photo.url()), post.photo.url %>
      <% end %>
     
        <div class="post-text">
          <%= simple_format(post.content) %>
        </div>
      </div>

      <div class="post-tags">
 <%= if post.tags.any? 
        tag_hash_list(post.tags_list) 
      else 
        :P
        end%>
      
      </div>

      <div class="post-meta">
          <div class="post-boost">
          <span>Boost! </span>
        </div>
        <span> | Posted <%= time_ago_in_words(post.created_at) %> ago</span><% if user_admin?(current_user) || post.user == current_user %> | <%= link_to 'Delete', polymorphic_path(@array_parent)+"/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' }, remote: true %> <% end %>

      </div>
    </div>