
<% if current_user %>
  <%= form_for((@array_parent.dup).push(@post)) do |f| %>
    <div class="post-form">
      <div class="post-form-user">
        <%= user_gravatar(current_user,90) %>

        <span class="post-form-username"><%= current_user.username %></span>
      </div>

      <div class="post-form-content">
        
        <%= f.text_area :content, {required: "", placeholder:"Write your post here"} %>
      </div>

      <div class="post-form-submit">
        <%= f.submit %> or <%= link_to 'Cancel', nil, class: "close-post-form" %>
      </div>
    </div>
  <% end %>
<% end %>