<div class="review" id="review-<%= review.id %>">
	<div class="review-user">
		<a href="<%= user_path(review.user) %>">
			<%= user_gravatar(review.user, 80) %>
			<span class="review-username"><%= review.user.username %></span>
		</a>
	</div>
	<div class="review-content">

		<div class="review-stars">
			<%= review.stars %>
		</div>
		<div class="review-text">
			<%= simple_format(review.content) %>
		</div>
	</div>

	<div class="review-meta">
		<span>Posted <%= time_ago_in_words(review.created_at) %> ago</span><% if user_admin?(current_user) || review.user == current_user %> | <%= link_to 'Delete', polymorphic_path((@array_parent.dup).push(review)), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %> <% end %>
	</div>
</div>