<nav>
	<ul>
		<li class="home"><%= nav_link "Home", root_path%></li>
		<li class="movies"><%= nav_link "Movies", movies_path%></li>
		<li class="series"><%= nav_link "Series", serials_path%></li>
	</ul>
	<% if current_user %>
		<hr/>
		<ul>
			<li class="shows"><%= nav_link "My Shows", my_shows_path %>
				<ul>
					<li><%= nav_link "My Movies", my_movies_path %></li>
					<li><%= nav_link "My Series", my_serials_path %></li>
				</ul>
			</li>
			<li class="watch"><%= nav_link "My Watchlist", my_watchlist_path %></li>
		</ul>
	<% end %>
</nav>
