<!DOCTYPE html>
<html>
<head>
  <title>S0</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if flash.notice %>
		<div class="notice">
			<%= flash.notice %>
		</div>
	<% end %>
	<% if alert %>
		<div class="alert">
			<%= alert %>
		</div>
	<% end %>


	<div id="main-nav">
		<%= render "layouts/main_nav" %>
	</div>

	<div id="main">
		<div id="top-bar">
			<%= render "layouts/top_search" %>

			<%= render "layouts/top_user_bar" %>
		</div>

		<section id="main-content">
			<%= yield %>
		</section>
	</div>

</body>
</html>
